@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,700;1,100&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #00FF6C;
    background-image: linear-gradient(#333, #474747);
    height: 100vh;
}

#header {
    display: flex;
}

h1 {
    flex: 2;
    text-align: center;
    font-size: 3em;
    font-weight: 700;
    padding: 10px;
}

h3 {
    flex: 1;
    text-align: center;
    align-self: flex-end;
    font-size: 3em;
}

.cpu-header {
    color: rgb(255, 45, 45);;
}
.container {
    display: flex;
    margin-top: 20px;
}

.player-buttons,
.cpu-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2.3rem;
    flex: 1;
}

.center-data {
    color: #00FF6C;
    border: 10px solid #00FF6C;
    background-image: linear-gradient(#474747, #5d5d5d);
    flex: 2;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    height: 25rem;
}

.score-message {
    flex: 1;
    display: flex;
    justify-content: center;
    align-self: center;
}

.score-message > h3 {
    align-self: center;
    white-space: pre-line;
}

.score-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.player-score {
    margin: 0 0 20px 30px;
}

.cpu-score {
    margin: 0 30px 20px 0;
}

.reset-button {
    display: flex;
    justify-content: center;
}

.player-btn,
.cpu-btn {
    padding: 10px;
    height: 140px;
    width: 140px;
    font-size: 4rem;
    border-radius: 30px;
    background-color: rgb(178, 248, 208, .2);
    transition:all .5s ease;
    cursor: pointer;
}

.player-btn {
    color: #00FF6C;
    border: 10px solid #00FF6C;
}

.cpu-btn {
    color: rgb(255, 45, 45);
    border: 10px solid rgb(255, 45, 45);
    cursor:not-allowed;
}

.player-buttons > button:hover {
    background-color: rgba(125, 164, 142, 0.2);
    font-size: 5rem;
    color: azure;
    border: 10px solid azure;
    box-shadow: 0 0 50px 15px #48abe0;
    transition: 0.5s;
}

.container {
    display: flex;
    justify-content: center;
}